# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [8]:
i=42
j=42
id(i) == id(j)

True

Будуть посилатися на один і той самий обʼєкт в памʼяті

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [9]:
print(isinstance(True, bool), isinstance(True, int))

True True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [10]:
int_num = 10
float_num = 5.5
print(int_num + float_num,
      int_num - float_num,
      int_num / float_num,
      int_num * float_num,
      int_num // float_num,
      int_num % float_num,
      int_num ** float_num)

15.5 4.5 1.8181818181818181 55.0 1.0 4.5 316227.7660168379

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [11]:
print(int(float_num))
bool_val = True
print(int(bool_val))

5
1

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [12]:
str1 = ''
str2 = str()
print(len(str1), len(str2))

0 0

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [13]:
apostrophe = '\''
apostrophe_raw = r'\''
print(apostrophe, apostrophe_raw)

' \'

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [14]:
surname = 'Ostapchuk'
formatted_str = f'My surname is {surname}'
print(formatted_str)

My surname is Ostapchuk

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [15]:
mad_dog = 'My dog is crazy'
print(mad_dog.lower().split())

['my', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [16]:
list1 = [1,2,3,4,5,6]
list2 = list()
for i in range (1,7): list2.append(i)
print(list1, list2, len(list1))

[1, 2, 3, 4, 5, 6] [1, 2, 3, 4, 5, 6] 6

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [17]:
list1.append(list2)
print(list1)

[1, 2, 3, 4, 5, 6, [1, 2, 3, 4, 5, 6]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [18]:
list_of_lists = [[1,2,3],[4,5,6],[7,8,9]]
print(list_of_lists[-1][0])

7

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [19]:
list10 = [7, 7.0, '7', [7], False, {42 : True}, {3,2,1}, (9,8,7), True, 'tratata']
sliced_list = list10[2:-2]
print(sliced_list)

['7', [7], False, {42: True}, {1, 2, 3}, (9, 8, 7)]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [20]:
one_el_tuple = tuple([1])
print (one_el_tuple)

(1,)

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

Списки і кортежі є наборами довільних елементів. Кортежі ефективніші за списки, але вони immutable, тому їх варто використовувати для наборів елементів, які не будуть мінятися, інакше використовувати списки

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [21]:
tuple_of_float = (4.5, 5.7, 3.2, 1.4, 6.9, 2.3, 8.1, 7.8, 9.4, 3.0, 7.1)
sliced_tuple = tuple_of_float[-2::-2]
print(sliced_tuple)

(3.0, 7.8, 2.3, 1.4, 5.7)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [22]:
empty_set = set()
empty_set.add(1)
empty_set.add('2')
print(empty_set)

{1, '2'}

Так, множини є змінним типом даних

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [23]:
set_from_list = set([1, 1, 2, 67, 67, 8, 9])
print(set_from_list)

{1, 2, 67, 8, 9}

Повторні елементи не увійшли в множину, бо множини не можуть містити дублікатів

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [24]:
set1 = {1, 2, 3, 5, 7, 11}
set2 = {1, 3, 5, 6, 7, 9}
print(set1 | set2, set1 - set2, set1 & set2, set1 ^ set2, sep='\n')

{1, 2, 3, 5, 6, 7, 9, 11}
{2, 11}
{1, 3, 5, 7}
{2, 6, 9, 11}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [25]:
empty_dict = dict()
empty_dict.update({11: (12, 13, 14), 's': [0, True], ('a', 12): 'b', False: 2})
print(empty_dict)

{11: (12, 13, 14), 's': [0, True], ('a', 12): 'b', False: 2}

Ні, ключі словника мають бути immutable, а список не є таким

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [26]:
cluster_dict = {11: '1',
                21: '2',
                31: {12: '3',
                     22: '4',
                     32: {13: '5',
                          23: '6',
                          33: '7'}}}
print(cluster_dict[31][32].values())

dict_values(['5', '6', '7'])

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.